<ul  class="nav navbar-nav">
  <li >
    <%= link_to "All Quizs", tests_path %>
  </li>
  <li >
    <%= link_to "New Quiz", new_test_path %>
  </li>
<!--   <li>
    <%#= link_to "Completed Tests", completed_tests_tests_path %>
  </li> -->
  <li>
    <%= link_to "Reports", "#" %>
  </li>
</ul>
