<div class="page-header">
  <h2>Tests</h2>
</div>

<table class="table table-bordered table-hover">
  <tbody>
    <% @tests.each_with_index do |test,index| %>
    <tr>
      <td>
        <%= link_to test.test_name, test %>
      </td>
      <% if test.status == "activated" %>
      <td>
        <%= button_to "Deactive", deactivate_test_tests_path, method: :get, params: {test_id: test.id}, :class => 'btn btn-large btn-warning'%>
      </td>
      <% elsif test.status == "deactivated" %>
      <td>
        <%= button_to "Activate", activate_test_tests_path, method: :get, params: {test_id: test.id}, :class => 'btn btn-large btn-primary'%>
      </td>
      <% end %>
      <% end %>
  </tbody>
</table>


<div class="page-header">
  <h2>Reports</h2>
</div>

<table class="table table-bordered table-hover">
  <tbody>
    <% @report_tests.each_with_index do |report_test,index| %>
    <tr>
      <td>
        <%= link_to report_test.test.test_name, "/tests/#{report_test.test_id}?report=true" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
