<ul  class="nav navbar-nav">
  <!-- <li > -->
  <!--   <%= link_to "All Quizs", tests_path %> -->
  <!-- </li> -->
  <li >
    <%= link_to "New Quiz", new_test_path %>
  </li>
<!--   <li>
  </li> -->
  <!-- <li> -->
  <!--   <%= link_to "Reports", "#" %> -->
  <!-- </li> -->
</ul>
