<div class="page-header">
  <h2>Tests</h2>
</div>

<table class="table table-bordered table-hover">
  <tbody>
    <% @tests.each_with_index do |test,index| %>
    <tr>
      <td>
        <%= link_to test.test_name, test %>
      </td>
      <td>
        <%= button_to "Completed" , complete_test_tests_path, :disabled => true, :class => 'btn btn-large btn-success'%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
